.react-input-tags-input {
    padding: 0;margin: 0;border: 1px solid;font-size: 10px;
}

.react-input-tags-tag span, .react-input-tags-tag button {
    padding: 0 2px 0;margin: 0;border: 1px solid;font-size: 10px;
}

.react-input-tags-tag button {
    padding: 0 2px 0;margin: 0;border: 0;font-size: 10px;
}
